@import url('https://fonts.googleapis.com/css2?family=Sigmar:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


/* Pour toutes les pages :*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

a {
    color:black;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-weight: bold;
    margin-left: 10%;
}

.description {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 10%;
    color: grey;
    width: 870px;
    margin-bottom: 100px;
}

ul li {
    margin-bottom: 15px;
}


/* Pour le header :*/

header {
    margin: 0px;
    margin-bottom: 25px;
    padding: 0px;
    background: linear-gradient(to right,rgb(255, 255, 255),rgb(255, 0, 0));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
}

#navHeader {
    list-style: none;
    display: flex;
    justify-content: right;
    padding: 0;
    margin: 0;
}

#navHeader li {
    margin: 0 15px;
}

#navHeader a {
    color: black;
    font-weight: bold;
    font-family: 'Inter', serif;
    font-size: 32px;
}

.headerImageRight {
    object-fit: contain;
    position: absolute;
    display: flex;
    top: -300px;
    right: -150px;
    width: 600px;
    opacity: 0.2;
    pointer-events: none;
}

.page-selectionnee {
    text-decoration: underline;
}


/* Pour les liens en fin de page :*/

.liens_contacts a {
    margin: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#blocfin {
    margin: 10px;
}


/* Pour la page d'acceuil :*/

#bigImage {
    width: 100%;
    margin-bottom: 50px;
}

#triptiqueCI {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 50px;
}

#triptiqueCI span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#triptiqueCI img {
    height: 200px;
    align-items: top;
    margin-bottom: 20px;
}

#triptiqueCI h2 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

#triptiqueCI p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: grey;
    width: 300px;
    text-align: center;
}

.rectangle-exp {
    background-color: aquamarine;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color:black;
    border: 2px solid black;
    border-radius: 10px
}

.espace {
    height: 50px;
}

.insta {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

.instagram-media {
    width: 600px;
    height: 900px;
    margin: 0 auto !important; /* J'ai été obligé de rajouter le !important, sinon le recentrage ne fonctionnait pas. Je n'ai pas compris pourquoi... :*/
}

/* Pour la page Présentation :*/
.presentation-parcours {
    text-align: center;
}

.axe-presentation + ul {
    margin-top: 15px;
}

.axe-presentation {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.niveau {
    margin-bottom: 15px;
}

.etablissement {
    font-weight: bold;
}

.element {
    font-weight: bold;
    margin-bottom: 15px;
}


/* Pour la page Projets :*/

.titre-projet {
    margin-bottom: 20px;
    text-align: center;
}

.sous-titre-projet {
    margin-bottom: 16px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: grey;
}

iframe {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 800px;
    margin-bottom: 20px;
}

.MEC-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.iframe-MEC {
    width: 45%;
    height: 600px;
}

/* Pour la page Contact :*/
/*Rien pour le moment. */